@charset "UTF-8";
:root {
  --clr-base: #000;
  --clr-att: #f00;
  --clr-border: #ddd;
  --clr-bg-att: linear-gradient(to right, #EA4C42, #AE1111);
  --min: 375px;
  --max: 1920px;
  font-size: 10px;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
.elm-hidden {
  display: none;
}
/* ----------------------------------- *\
			main styles
\* ----------------------------------- */
body {
  color: var(--clr-base, #000);
  background: #fff;
}
p,
ul,
ol {
  position: relative;
}
p img,
ul img,
ol img {
  max-width: 100%;
}
p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0 !important;
}
li {
  position: relative;
}
a {
  text-decoration: none;
  color: var(--clr-att, #f00);
}
a:hover {
  text-decoration: none;
  color: var(--clr-att, #f00);
}
a.link-main,
.link-main {
  text-decoration: none;
  border-bottom: 1px solid;
}
a.link-main:hover,
.link-main:hover {
  border-bottom: none;
}
/* ----------------------------------- *\
			structura
\* ----------------------------------- */
.wrap {
  padding-bottom: 9999px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: var(--min, 320px);
}
.inner-wrap,
.page {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 0 20px;
  min-width: var(--min, 320px);
  max-width: var(--max, 1200px);
  width: 100%;
}
.inner-wrap .inner-wrap,
.page .inner-wrap {
  min-width: 0;
  padding-left: 0;
  padding-right: 0;
}
.inner-wrap .cnt-section,
.page .cnt-section {
  min-width: 0;
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.wrap,
.header,
.footer,
.cnt-section {
  position: relative;
  clear: both;
  min-width: var(--min, 320px);
  width: 100%;
}
.wrap {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrap > .cnt-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header,
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1;
  text-align: left;
}
.header ul,
.footer ul,
.header li,
.footer li,
.header p,
.footer p {
  margin: 0;
  padding: 0;
}
.header ul:before,
.footer ul:before,
.header li:before,
.footer li:before,
.header p:before,
.footer p:before {
  display: none;
}
.header a,
.footer a {
  text-decoration: none;
  position: relative;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header {
  z-index: 99;
}
.header .contacts-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 95px;
  border-right: 1px solid var(--clr-border);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 26px 0 48px;
  position: relative;
  overflow: hidden;
}
.header .menu-wrap {
  height: 95px;
  width: 412px;
  border-right: 1px solid var(--clr-border);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 0 49px;
  font-size: 16px;
  line-height: 24px;
  color: #3C3C3C;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}
.header .menu-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .menu-wrap li {
  width: 33.33%;
}
.header .menu-wrap a {
  display: block;
  color: #3C3C3C;
  padding: 4px 0;
}
.header .menu-wrap a:hover,
.header .menu-wrap a.active {
  color: var(--clr-att);
}
.header .phones-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .location-wrap {
  padding: 15px 48px 14px 75px;
  width: 274px;
  height: 95px;
  font-size: 14px;
  line-height: 19px;
  color: #3C3C3C;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid var(--clr-border);
  text-align: right;
  overflow: hidden;
  position: relative;
}
.header .location-wrap:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 55px;
  margin: -22px 0 0 -20px;
  background: url(../img/icons/ico-location.svg) center no-repeat;
  background-size: 18px auto;
}
.header .location-city {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #EA4C42;
  width: 100%;
}
.header .location-address {
  display: block;
  width: 100%;
}
.header .messages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
}
.header .messages-wrap .btn-action-ico {
  width: 55px;
}
.header .phone-wrap {
  font-size: 26px;
  line-height: 38px;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 13px;
  color: #000;
}
.header .phone-wrap a {
  color: #000;
}
.header .btn-action-ico.ico-phone {
  position: absolute;
  top: 50%;
  right: 34px;
  margin: -20px -20px 0 0;
}
.header .btn-action-ico.ico-menu {
  position: absolute;
  top: 50%;
  left: 34px;
  margin: -20px 0 0 -22px;
}
.nav {
  color: #3C3C3C;
}
.nav .btn-action-ico.ico-menu {
  display: none;
  opacity: 0;
  position: fixed;
  top: 40px;
  left: 32px;
  margin: -20px 0 0 -20px;
}
.nav .btn-action-ico.ico-close {
  display: none;
  position: absolute;
  top: 114px;
  left: 419px;
  z-index: 30;
  -webkit-animation: fadeinslideleft ease 0.2s;
          animation: fadeinslideleft ease 0.2s;
  margin-left: -16px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.nav .search-wrap {
  position: relative;
  z-index: 2;
}
.nav .menu-wrap {
  border-bottom: 1px solid var(--clr-border);
  font-size: 16px;
  line-height: 24px;
  padding: 15px 15px 9px 35px;
  position: relative;
  overflow: hidden;
}
.nav .menu-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav .menu-wrap li {
  width: 33.33%;
  max-width: 120px;
}
.nav .menu-wrap a {
  display: block;
  padding: 8px 5px 8px 10px;
  color: #3C3C3C;
}
.nav .menu-wrap a:hover,
.nav .menu-wrap a.active {
  color: var(--clr-att);
}
.nav .logo-wrap {
  display: block;
  height: 104px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.nav .about-wrap {
  display: block;
  position: relative;
  line-height: 1;
  overflow: hidden;
  border-bottom: 1px solid var(--clr-border);
}
.nav .location-wrap {
  padding: 26px 20px 24px 86px;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 1px solid var(--clr-border);
  position: relative;
  overflow: hidden;
}
.nav .location-wrap:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 54px;
  margin: -22px 0 0 -20px;
  background: url(../img/icons/ico-location.svg) center no-repeat;
  background-size: 18px auto;
}
.nav .location-city {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #EA4C42;
  width: 100%;
  margin-bottom: 2px;
}
.nav .location-address {
  display: block;
  width: 100%;
}
.nav .logo-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 104px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  padding: 20px 0 0 45px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: fadeinslideleft ease 0.2s;
          animation: fadeinslideleft ease 0.2s;
}
.nav .logo-full:hover {
  color: #000000;
}
.nav .logo-full .logo-images {
  display: block;
  margin: 0 10px 0 0;
}
.nav .logo-full .logo-images img {
  display: block;
  height: 26px;
  max-width: inherit;
  margin-bottom: 3px;
}
.nav .logo-full .logo-images img:last-child {
  margin-bottom: 0;
  height: 27px;
}
.nav .logo-full .logo-text {
  padding-top: 34px;
  line-height: 12px;
}
.nav .logo-small {
  display: none;
  width: 100%;
  height: 104px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeinslideleft ease 0.2s;
          animation: fadeinslideleft ease 0.2s;
}
.nav .logo-small img {
  display: block;
  width: 57px;
}
.nav .btn-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px 20px 116px;
  min-height: 74px;
  color: #2f2f2f;
  position: relative;
  overflow: hidden;
}
.nav .btn-about:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 56px;
  margin: -15px 0 0 -15px;
  background: url(../img/icons/ico-info.svg) center no-repeat;
  background-size: 26px auto;
}
.submenu-outer-wrap {
  position: relative;
  background: #fff;
}
.submenu-outer-wrap .submenu-title {
  display: block;
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  padding: 0 20px 0 46px;
  color: #2F2F2F;
  margin: 0 0 15px 0;
}
.submenu-outer-wrap .submenu-inner-wrap {
  padding: 16px 0;
}
.submenu-outer-wrap .btn-action-ico.ico-back {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  width: 48px;
  height: 67px;
  z-index: 2;
  -webkit-animation: fadeinslideright ease 0.2s;
          animation: fadeinslideright ease 0.2s;
}
.main-menu-wrap ul,
.submenu-outer-wrap ul,
.main-menu-wrap li,
.submenu-outer-wrap li {
  margin: 0;
  padding: 0;
}
.main-menu-wrap ul:before,
.submenu-outer-wrap ul:before,
.main-menu-wrap li:before,
.submenu-outer-wrap li:before {
  display: none;
}
.main-menu-wrap .menu-item-all,
.submenu-outer-wrap .menu-item-all,
.main-menu-wrap .menu-item-inner,
.submenu-outer-wrap .menu-item-inner,
.main-menu-wrap .menu-item,
.submenu-outer-wrap .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 10px 0;
  color: #2F2F2F;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
  min-height: 48px;
}
.main-menu-wrap .menu-item-all .menu-title,
.submenu-outer-wrap .menu-item-all .menu-title {
  padding-left: 90px;
  padding-right: 10px;
}
.main-menu-wrap .menu-item-all .menu-title:before,
.submenu-outer-wrap .menu-item-all .menu-title:before {
  display: none;
}
.main-menu-wrap .menu-item-inner:hover,
.submenu-outer-wrap .menu-item-inner:hover,
.main-menu-wrap .menu-item-all:hover,
.submenu-outer-wrap .menu-item-all:hover {
  background: #fff !important;
}
.main-menu-wrap .menu-title,
.submenu-outer-wrap .menu-title,
.main-menu-wrap .menu-title-inner,
.submenu-outer-wrap .menu-title-inner {
  display: block;
  width: 100%;
  padding: 0 70px 0 120px;
  line-height: 24px;
  position: relative;
}
.main-menu-wrap .menu-title:before,
.submenu-outer-wrap .menu-title:before,
.main-menu-wrap .menu-title-inner:before,
.submenu-outer-wrap .menu-title-inner:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 50px;
  margin: -12px -12px 0 0;
  background: url(../img/icons/ico-arrow01.svg) center no-repeat;
  background-size: 8px auto;
}
.main-menu-wrap .menu-ico,
.submenu-outer-wrap .menu-ico {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 60px;
  margin: -20px 0 0 -20px;
  overflow: hidden;
}
.main-menu-wrap .menu-ico img,
.submenu-outer-wrap .menu-ico img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 24px;
  max-height: 26px;
}
.main-menu-wrap .menu-title-inner,
.submenu-outer-wrap .menu-title-inner {
  padding-left: 46px;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 100%;
  text-decoration: none;
  line-height: 1;
  letter-spacing: 0;
  font-size: 10px;
  border: none;
}
.logo:hover {
  text-decoration: none;
}
.logo img {
  display: block;
  width: 100%;
}
@media (max-width: 1023px) {
  .nav-show {
    overflow: hidden;
  }
  .nav-show .nav {
    display: block;
  }
  .header .btn-action-ico.ico-menu {
    z-index: 130;
  }
  .nav {
    display: none;
    -webkit-animation: fadeinslide ease 0.2s;
            animation: fadeinslide ease 0.2s;
    position: fixed;
    padding-top: 80px;
    top: 0px;
    left: 0;
    width: 200%;
    bottom: 0;
    z-index: 110;
    -webkit-transition: left ease 0.2s;
    transition: left ease 0.2s;
  }
  .nav:before {
    content: "";
    display: block;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
  }
  .nav .logo-wrap {
    display: none;
  }
  .nav .search-wrap {
    border-bottom: 1px solid var(--clr-border);
    line-height: 1;
    position: relative;
  }
  .nav.submenu-active {
    left: -100%;
  }
  .nav .main-menu-wrap,
  .nav .search-wrap,
  .nav .menu-wrap,
  .nav .about-wrap {
    width: 50%;
  }
  .nav .btn-action-ico.ico-menu {
    display: block;
  }
  .submenu-outer-wrap {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  .submenu-outer-wrap .submenu-wrap {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .submenu-outer-wrap .submenu-wrap.active {
    display: block;
  }
  .submenu-outer-wrap .btn-action-ico.ico-back {
    display: block;
  }
  .main-menu-wrap {
    padding-top: 18px;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--clr-border);
    position: relative;
    overflow: hidden;
  }
  .main-menu-wrap .menu-title {
    padding-left: 110px;
  }
  .main-menu-wrap .menu-ico {
    left: 54px;
  }
  .header {
    padding-top: 80px;
  }
  .header .inner-wrap {
    padding: 0;
  }
  .header .header-wrap {
    background: #fff;
    border-bottom: 1px solid var(--clr-border);
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 375px;
    padding: 0 20px;
    z-index: 10;
  }
  .header .actions-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid var(--clr-border);
    padding: 0 14px;
  }
  .header .action-wrap {
    width: 25%;
  }
  .header .location-wrap,
  .header .menu-wrap {
    display: none;
  }
  .header .contacts-wrap {
    display: none;
  }
  .header .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 240px;
    height: 79px;
    line-height: 1;
    padding: 14px 0 0 0;
  }
  .logo-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    color: #000;
    text-decoration: none;
    width: 100%;
    line-height: 1;
  }
  .logo-main img {
    margin: 0 5px 0 0;
    max-width: 120px;
    height: 23px;
  }
  .logo-main img + img {
    margin: 0;
  }
  .logo-main .logo-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logo-main .logo-text {
    display: block;
    width: 100%;
    font-size: 8px;
    line-height: 10px;
    height: 10px;
    position: relative;
    overflow: hidden;
    margin: 8px 0 0 0;
  }
}
@media (min-width: 1024px) {
  .page,
  .inner-wrap {
    padding-left: 120px;
    padding-right: 30px;
  }
  .wrap {
    padding-top: 96px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--clr-border);
    background: #fff;
  }
  .header .inner-wrap {
    height: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 120px;
  }
  .header .header-wrap {
    display: none;
  }
  .header .menu-wrap,
  .header .contacts-wrap,
  .header .location-wrap,
  .header .actions-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .actions-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -15px 0 0;
    height: 95px;
  }
  .header .action-wrap {
    width: 78px;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 419px;
    background: #fff;
    z-index: 110;
    padding-top: 88px;
    padding-bottom: 100px;
    -webkit-transition: width ease 0.2s;
    transition: width ease 0.2s;
  }
  .nav:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 10px;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
    margin-left: -10px;
    z-index: 20;
  }
  .nav .frm-main-search input {
    padding-left: 120px;
    background-position: 48px center;
  }
  .nav .location-wrap {
    display: none;
  }
  .nav .menu-wrap {
    display: none;
  }
  .nav .about-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
  }
  .nav .btn-about {
    height: 90px;
    padding-left: 120px;
  }
  .nav .btn-about:before {
    left: 60px;
  }
  .nav:not(.active) {
    width: 120px;
  }
  .nav:not(.active) .logo-full {
    display: none;
  }
  .nav:not(.active) .logo-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav:not(.active) .btn-about {
    display: block;
    width: 100%;
    height: 90px;
    padding: 0;
    overflow: hidden;
  }
  .nav:not(.active) .btn-about .button-title {
    display: none;
  }
  .nav:not(.active) .btn-about:before {
    top: 50%;
    left: 50%;
  }
  .nav:not(.active) .main-menu-wrap .menu-title {
    width: 0;
    padding-right: 0;
  }
  .nav:not(.active) .main-menu-wrap .menu-title:before {
    opacity: 0;
  }
  .nav.submenu-active .submenu-outer-wrap {
    width: 345px;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
  }
  .nav.submenu-active .submenu-outer-wrap .submenu-wrap.active {
    width: 345px;
  }
  .nav.submenu-active .submenu-outer-wrap .submenu-wrap:not(.active) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav.submenu-active .btn-action-ico.ico-close {
    display: block;
    left: 764px;
  }
  .submenu-outer-wrap {
    position: absolute;
    overflow: hidden;
    left: 100%;
    top: 0;
    /*top: 96px;*/
    bottom: 0;
    width: 0;
    background: #fff;
    z-index: 10;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .submenu-outer-wrap .submenu-wrap {
    overflow: hidden;
    width: 0;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
    -webkit-transition: width ease 0.5s;
    transition: width ease 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
  }
  .submenu-outer-wrap .submenu-wrap.active {
    display: block;
    z-index: 10;
  }
  .submenu-outer-wrap .submenu-inner-wrap {
    width: 345px;
  }
  .main-menu-wrap {
    padding-top: 10px;
    z-index: 20;
    position: relative;
  }
  .main-menu-wrap .menu-title {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 419px;
    padding-right: 70px;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .main-menu-wrap .menu-title:before {
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
}
@media (min-width: 1024px) and (max-width: 1799px) {
  .header .phone-wrap {
    font-size: 20px;
    line-height: 30px;
  }
  .header .contacts-wrap {
    padding-left: 24px;
  }
  .header .messages-wrap {
    padding-left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1599px) {
  .header .actions-wrap {
    margin: 0;
    padding-left: 15px;
  }
  .header .action-wrap {
    width: 60px;
  }
  .header .contacts-wrap {
    padding-left: 5px;
    padding-right: 15px;
  }
  .header .messages-wrap .btn-action-ico {
    width: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .header .phone-wrap {
    line-height: 20px;
    font-size: 18px;
  }
  .header .phones-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .menu-wrap {
    width: 300px;
    padding-right: 10px;
  }
  .header .menu-wrap li {
    width: 50%;
  }
  .header .menu-wrap a {
    padding: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .header .action-wrap {
    width: 46px;
  }
  .header .menu-wrap {
    width: 280px;
  }
  .header .location-wrap {
    padding-right: 20px;
    padding-left: 30px;
    width: 210px;
  }
  .header .location-wrap:before {
    left: 25px;
  }
}
@media (min-width: 1200px) {
  .header .btn-action-ico.ico-compare:before {
    background-size: 36px;
  }
  .header .btn-action-ico.ico-fav:before,
  .header .btn-action-ico.ico-fav:after {
    background-size: 30px;
  }
  .header .btn-action-ico.ico-user:before {
    background-size: 26px auto;
  }
  .header .btn-action-ico.ico-cart:before,
  .header .btn-action-ico.ico-cart:after {
    background-size: 32px auto;
  }
  .header .btn-action-ico[data-count]:after {
    min-width: 16px;
    padding: 0 5px;
    height: 16px;
    line-height: 18px;
    font-size: 10px;
    border-radius: 8px;
    margin-top: -18px;
  }
}
@media (min-width: 1600px) {
  .page,
  .inner-wrap {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 1920px) {
  .nav {
    left: 50%;
    margin-left: -960px;
  }
  .nav:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 9999px;
    background: #fff;
  }
}
/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}
.btn-action-ico {
  background: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.btn-action-ico:before,
.btn-action-ico:after,
.btn-action-ico .i,
.btn-action-ico img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.btn-action-ico:before,
.btn-action-ico:after {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.btn-action-ico:hover {
  text-decoration: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}
.btn-action-ico.button-messages img {
  max-width: 24px;
  max-height: 26px;
  opacity: 0.3;
}
.btn-action-ico.button-messages:hover img {
  opacity: 1;
}
.btn-action-ico.ico-compare:before {
  background: url(../img/icons/ico-compare.svg) center no-repeat;
  background-size: 32px auto;
}
.btn-action-ico.ico-user:before {
  background: url(../img/icons/ico-user.svg) center no-repeat;
  background-size: 22px auto;
}
.btn-action-ico.ico-cart:before {
  background: url(../img/icons/ico-cart.svg) center no-repeat;
  background-size: 28px auto;
}
.btn-action-ico.ico-phone:before {
  background: url(../img/icons/ico-phone.svg) center no-repeat;
  background-size: 26px auto;
}
.btn-action-ico.ico-fav:before {
  background: url(../img/icons/ico-fav.svg) center no-repeat;
  background-size: 26px auto;
}
.btn-action-ico.ico-fav:after {
  background: url(../img/icons/ico-fav-active.svg) center no-repeat;
  background-size: 26px auto;
  opacity: 0;
}
.btn-action-ico.ico-fav.active:before {
  opacity: 0;
}
.btn-action-ico.ico-fav.active:after {
  opacity: 1;
}
.btn-action-ico.ico-menu:not(.active):before,
.btn-action-ico.ico-menu:not(.active):after {
  width: 14px;
  height: 3px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin-left: -12px;
  margin-top: -1px;
  background: #000;
}
.btn-action-ico.ico-menu:not(.active):after {
  margin-top: 7px;
}
.btn-action-ico.ico-menu:not(.active) span {
  -webkit-transition: all ease 0.7s;
  transition: all ease 0.7s;
  width: 24px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  margin-left: -12px;
  margin-top: -9px;
}
.btn-action-ico.ico-menu.active span {
  opacity: 0;
  -webkit-transform: -webkit-rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.btn-action-ico.ico-menu.active:before,
.btn-action-ico.ico-menu.active:after {
  width: 28px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -1px 0 0 -14px;
  -webkit-transform: -webkit-rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-action-ico.ico-menu.active:before {
  -webkit-transform: -webkit-rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-action-ico.ico-close {
  width: 32px;
  height: 32px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
.btn-action-ico.ico-close:before,
.btn-action-ico.ico-close:after {
  width: 14px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin: -1px 0 0 -7px;
  -webkit-transform: -webkit-rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-action-ico.ico-close:before {
  -webkit-transform: -webkit-rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.btn-action-ico.ico-back:before {
  background-image: url(../img/icons/ico-arrow01.svg);
  background-size: 12px auto;
  -webkit-transform: -webkit-rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.btn-action-ico[data-count] {
  overflow: visible;
}
.btn-action-ico[data-count]:after {
  content: attr(data-count);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  min-width: 11px;
  height: 11px;
  line-height: 12px;
  text-align: center;
  padding: 0 3px;
  font-size: 8px;
  color: #fff;
  font-weight: bold;
  background: var(--clr-bg-att);
  border-radius: 5px;
  margin-top: -13px;
  margin-left: 6px;
}
.btn-action-header {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 1;
  text-decoration: none;
}
.btn-action-header .btn-action-ico {
  width: 100%;
}
.btn-action-header .button-title {
  display: none;
  text-align: center;
  font-size: 8px;
  color: rgba(0, 0, 0, 0.5);
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  position: relative;
}
.frm-row,
.frm-field,
.frm-row-submit {
  position: relative;
  line-height: 1;
}
.frm-row:after,
.frm-field:after,
.frm-row-submit:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.frm-select {
  position: relative;
  display: block;
  overflow: hidden;
}
.frm-select input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.frm-select label {
  display: block;
  position: relative;
  cursor: pointer;
}
.frm-main-search {
  display: block;
  position: relative;
  line-height: 1;
  height: 64px;
}
.frm-main-search input {
  height: 64px;
  padding: 0 10px 0 110px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  background: transparent url(../img/icons/ico-search.svg) 43px center no-repeat;
  background-size: 24px auto;
  font-size: 16px;
  color: #000;
  z-index: 2;
}
.frm-main-search [placeholder]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.frm-main-search [placeholder]:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.frm-main-search [placeholder]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.frm-main-search [placeholder]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.frm-main-search .btn,
.frm-main-search button,
.frm-main-search input[type="submit"] {
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1023px) {
  .btn-action-header {
    height: 71px;
    padding: 44px 0 0 0;
  }
  .btn-action-header .button-title {
    display: block;
  }
  .btn-action-header .btn-action-ico {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    margin-top: -20px;
  }
}
/* ----------------------------------- *\
		common styles
\* ----------------------------------- */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinslide {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@keyframes fadeinslide {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -50px);
            transform: translate(0, -50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@-webkit-keyframes fadeinslideleft {
  from {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@keyframes fadeinslideleft {
  from {
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
            transform: translate(-50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@-webkit-keyframes fadeinslideright {
  from {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
@keyframes fadeinslideright {
  from {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}
.i {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: none;
  transition: none;
}
.js-bg-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.js-bg-box .js-bg-photo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.js-bg-box img:not(.js-bg-photo) {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.js-btn-toggle.active + .js-popup-block {
  display: block !important;
}
.js-popup-block {
  -webkit-animation: fadein ease 0.3s;
  animation: fadein ease 0.3s;
}
.js-tab-block {
  display: none;
  -webkit-animation: fadein ease 0.2s;
          animation: fadein ease 0.2s;
}
.js-tab-block.active {
  display: block;
}
.items-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  min-width: 100%;
}
.item-wrap {
  width: 100%;
  position: relative;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
  display: block;
  -webkit-animation: fadein ease 0.2s;
          animation: fadein ease 0.2s;
}
.item-wrap.wrap-more ~ .item-wrap {
  display: none;
}
.item-wrap.wrap-more.active {
  display: none;
}
.item-wrap.wrap-more.active ~ .item-wrap {
  display: block;
}
.sl-wrap ~ .sl-wrap {
  display: none;
}
@media (max-width: 1023px) {
  .elm-hidden-mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .elm-hidden-desktop {
    display: none;
  }
}
/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe-Regular'), url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'), url('../fonts/Circe-Bold.woff2') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe Extra';
  src: local('Circe Extra Bold'), local('Circe-ExtraBold'), url('../fonts/Circe-ExtraBold.woff2') format('woff2'), url('../fonts/Circe-ExtraBold.woff') format('woff'), url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe';
  src: local('Circe Light'), local('Circe-Light'), url('../fonts/Circe-Light.woff2') format('woff2'), url('../fonts/Circe-Light.woff') format('woff'), url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-blank {
  background-image: url(../img/spr.png);
  background-position: 0px 0px;
  width: 1px;
  height: 1px;
}
/* ----------------------------------- *\
			animation
\* ----------------------------------- */
.item-animation {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  opacity: 0;
}
.item-animation.item-active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.item-aleft {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
}
.item-aright {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
}
.item-abottom {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
.item-atop {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.item-animation-second {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.item-animation-third {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.item-animation-four {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.item-animation-five {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.item-animation-six {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.item-animation-seven {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
