/* ----------------------------------- *\
			items styles
\* ----------------------------------- */
.item-catalog {
    display: block;
    position: relative;
    line-height: 1;
    color: #000;
    font-size: 12px;
    .cat-photo-wrap,
    .cat-title-wrap,
    .cat-price-wrap,
    .cat-features-wrap,
    .cat-action-wrap,
    .cat-photo,
    .cat-title,
    .cat-subtitle,
    .cat-price,
    .f-wrap, .f-title, .f-value,
    .cat-button {
        display: block;
        position: relative;
    }
    .cat-features-wrap {
        display: flex;
        padding: 0px 0 12px 0;
        flex-wrap: wrap;
        margin: 0 -34px 0 0;
    }
    .cat-photo-wrap {
        padding: 24px 24px 0 24px;
    }
    .cat-hover-wrap {
        display: none;
        animation: fadeinslide ease 0.2s;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        padding: 0 24px 64px 20px;
        transition: box-shadow ease 0.2s;
        z-index: 2;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            height: 10px;
            background: #fff;
            margin-bottom: -3px;
        }
    }
    .cat-title-wrap {
        padding: 13px 24px 0 24px;
    }
    .cat-price-wrap {
        padding: 7px 24px 8px 24px;
    }
    .cat-subtitle {
        font-size: 12px;
        line-height: 18px;
        color: fade(#000, 50);
        margin: 0 0 4px 0;
    }
    .cat-title {
        font-size: 20px;
        line-height: 29px;
    }
    .cat-price {
        font-size: 24px;
        line-height: 35px;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 40px;
    }
    .cat-photo {
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            padding-top: 95%;
        }
        img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    .f-wrap {
        padding: 0 10px 0 0;
        width: 33.33%;
        margin-bottom: 13px;
    }
    .f-title {
        font-size: 10px;
        line-height: 15px;
        color: fade(#000, 30);
        margin: 0 0 5px 0;
    }
    .f-value {
        font-size: 20px;
        line-height: 29px;
    }
    a {
        display: block;
        transition: all ease 0.2s;
        color: #000;
    }
    .cat-button {
        display: flex;
        height: 64px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: #E2F1FF;
        padding: 0 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        &.active {
            &:before {
                display: none;
            }
            &:after {
                content: attr(data-added);
            }
        }
        &:hover {
            text-decoration: none;
            color: #000;
            background: #E2F1FF - #111;
        }
        &:after {
            content: attr(data-title);
        }
        &:before {
            content: "+";
            font-size: 26px;
            margin: 0 10px 0 0;
        }
    }
    .btn-action-ico {
        &.ico-fav {
            position: absolute;
            bottom: 0;
            right: 20px;
            z-index: 2;
            height: 51px;
            width: 50px;
            &:after {
                background-image: url(../img/icons/ico-fav-activated.svg);
                background-size: 26px auto;
            }
        }
    }
}
@media (max-width: 1023px) {
    .item-catalog {
        padding: 0;
        .cat-photo-wrap {
            padding: 0;
        }
        .cat-hover-wrap {
            display: block;
            position: relative;
            top: 0;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
        }
        .cat-title-wrap {
            padding-left: 0;
            padding-right: 0;
        }
        .cat-price-wrap {
            padding-left: 0;
            padding-right: 0;
        }
        .cat-price {
            font-size: 20px;
        }
        .btn-action-ico {
            &.ico-fav {
                right: 0;
            }
        }
    }
}
@media (min-width: 1024px) {
    .item-catalog {
        &:before {
            content: "";
            display: block;
            box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity ease 0.2s;
        }
        .cat-hover-wrap {
        }
        &:hover {
            z-index: 2;
            &:before {
                opacity: 1;
            }
            .cat-hover-wrap {
                display: block;
                box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.07);
            }
        }
    }
}
/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.catalog-box {
    margin-bottom: 40px;
    .items-wrap {
        margin: 0 -10px;
    }
    .item-wrap {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 40px;
    }
}
.main-top-box {
    background-color: #000;
    position: relative;
    overflow: hidden;
    padding: 100px 20px;
    font-size: 16px;
    line-height: 1.333;
    margin: 0 -20px 50px -20px;
    color: #fff;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: fade(#000, 45);
        z-index: 1;
    }
    .inner-wrap {
        z-index: 2;
    }
    .top-title {
        display: block;
        font-size: 1.75em;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        margin: 0 0 0.5em 0;
        line-height:  1.42;
    }
    .top-text {
        display: block;
        position: relative;
    }
    .top-logo {
        display: flex;
        align-items: center;
        margin-bottom: 0.6em;
        flex-wrap: wrap;
        img {
            height: 3.2em;
            display: block;
            position: relative !important;
            width: auto !important;
            max-width: inherit;
            margin-right: 1em;
            margin-bottom: 0.5em;
            &+img {
                filter: brightness(0) invert(1);
            }
        }
    }
    p {
        margin: 0;
    }
}
@media (min-width: 480px) {
    .catalog-box {
        .item-wrap {
            width: 50%;
        }
    }
}
@media (min-width: 768px) {
    .catalog-box {
        .item-wrap {
            width: 33.33%;
        }
    }
}
@media (min-width: 1024px) {
    .catalog-box {
        .items-wrap {
            margin: 0 -24px;
        }
        .item-wrap {
            padding: 0;
            margin: 0;
        }
    }
    .main-top-box {
        margin-left: -48px;
        margin-right: -30px;
        margin-bottom: 72px;
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 80px;
        padding-bottom: 80px;
        .inner-wrap {
            max-width: 1154px;
            margin: 0 auto;
            min-height: 380px;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            flex-direction: column;
        }
    }
}
@media (min-width: 1200px) {
    .main-top-box {
        font-size: 20px;
    }
}
@media (min-width: 1400px) {
    .catalog-box {
        .item-wrap {
            width: 25%;
        }
    }
}
@media (min-width: 1600px) {
    .main-top-box {
        margin-right: -120px;
        font-size: 24px;
    }
}
@media (min-width: 1800px) {
    .catalog-box {
        .item-wrap {
            width: 20%;
        }
    }
}