
<div id="popup-search">
	<form action="/" class="frm-popup">
		<div class="main-page-title">Поиск по сайту</div>
		<div class="frm-main-search">
			<input type="text" placeholder="Введите запрос">
			<button type="submit"></button>
		</div>
		<div class="search-results-wrap">
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur  elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit  elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
			<a href="" class="item-search-result">
				<span class="rs-photo">
					<img src="./img/cat01.jpg" alt="">
				</span>
				<span class="rs-text-wrap">
					<span class="rs-title">Заголовок блока</span>
					<span class="rs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
				</span>
			</a>
		</div>
	</form>
</div>