
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="header-wrap">
			<a href="" class="btn-action-ico ico-menu js-menu-toggle"><span></span></a>
			<a href="" class="btn-action-ico ico-phone"></a>
			<div class="logo-wrap">
				<a href="" class="logo-main">
					<span class="logo-images">
						<img src="./img/main/logo-main.svg" alt="">
						<img src="./img/main/logo-second.svg" alt="">
					</span>
					<span class="logo-text">Доверьте пол профессионалам</span>
				</a>
			</div>
		</div>
		<div class="menu-wrap">
			<ul>
				<li><a href="">Каталог</a></li>
				<li><a href="">Монтаж</a></li>
				<li><a href="">О компании</a></li>
				<li><a href="">Доставка</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Для бизнеса</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="phones-wrap">
				<div class="phone-wrap">
					<a href="tel:84952550707">8 (495) 255 07 07</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:88007750460">8 (800) 775 04 60</a>
				</div>
			</div>
			<div class="messages-wrap">
				<a href="" class="btn-action-ico button-messages">
					<img src="./img/icons/ico-viber.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-messages">
					<img src="./img/icons/ico-whatsapp.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-messages">
					<img src="./img/icons/ico-telegram.svg" alt="">
				</a>
			</div>
		</div>
		<div class="location-wrap">
			<div class="location-city">Москва</div>
			<div class="location-address"><a href="">м. Шоссе Энтузиастов</a></div>
			<div class="location-address"><a href="">м. Шоссе Энтузиастов</a></div>
		</div>
		<div class="actions-wrap">
			<div class="action-wrap">
				<a href="" class="btn-action-header">
					<span class="btn-action-ico ico-compare"></span>
					<span class="button-title">Сравнение</span>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-header">
					<span class="btn-action-ico ico-fav"></span>
					<span class="button-title">Избранное</span>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-header">
					<span class="btn-action-ico ico-user"></span>
					<span class="button-title">Профиль</span>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action-header">
					<span class="btn-action-ico ico-cart button-count">
						<span class="button-counter"></span>
					</span>
					<span class="button-title">Корзина</span>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->

<!--nav-->
<nav class="nav">
	<!--<a href="" class="btn-action-ico ico-close"></a>-->
	<a href="" class="btn-action-ico ico-menu js-menu-toggle"><span></span></a>
	<div class="logo-wrap">
		<a href="" class="logo-small">
			<img src="./img/main/logo-small.svg" alt="">
		</a>
		<a href="" class="logo-full">
			<span class="logo-images">
				<img src="./img/main/logo-main.svg" alt="">
				<img src="./img/main/logo-second.svg" alt="">
			</span>
			<span class="logo-text">Доверьте пол <br>профессионалам</span>
		</a>
	</div>
	<div class="search-wrap">
		<form action="/" class="frm-main-search">
			<input type="text" placeholder="Поиск по сайту">
			<button type="submit"></button>
		</form>
	</div>
	<div class="main-menu-wrap">
		<ul>
			<li data-bg="#ffe5e5" data-submenu="01">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu01.svg" alt="">
					</span>
					<span class="menu-title">Ковролин</span>
				</a>
			</li>
			<li data-bg="#f1dce4" data-submenu="02">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu02.svg" alt="">
					</span>
					<span class="menu-title">Ковровая плитка</span>
				</a>
			</li>
			<li data-bg="#ebe7f7" data-submenu="03">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu03.svg" alt="">
					</span>
					<span class="menu-title">Линолеум</span>
				</a>
			</li>
			<li data-bg="#fcf0ff" data-submenu="04">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu04.svg" alt="">
					</span>
					<span class="menu-title">Плитка ПВХ </span>
				</a>
			</li>
			<li data-bg="#fff1d7" data-submenu="05">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu05.svg" alt="">
					</span>
					<span class="menu-title">Ламинат</span>
				</a>
			</li>
			<li data-bg="#ecc7b5" data-submenu="06">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu06.svg" alt="">
					</span>
					<span class="menu-title">Паркетная доска</span>
				</a>
			</li>
			<li data-bg="#ecfffb" data-submenu="07">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu07.svg" alt="">
					</span>
					<span class="menu-title">Пробковые покрытия</span>
				</a>
			</li>
			<li data-bg="#E2F1FF" data-submenu="08">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu08.svg" alt="">
					</span>
					<span class="menu-title">Масивная доска</span>
				</a>
			</li>
			<li data-bg="#ecfffb" data-submenu="09">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu09.svg" alt="">
					</span>
					<span class="menu-title">Керамогранит</span>
				</a>
			</li>
			<li data-bg="#ebe7f7" data-submenu="10">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu10.svg" alt="">
					</span>
					<span class="menu-title">Подвесные потолки</span>
				</a>
			</li>
			<li data-bg="#ffe5e5" data-submenu="11">
				<a href="" class="menu-item">
					<span class="menu-ico">
						<img src="./img/icons/ico-menu11.svg" alt="">
					</span>
					<span class="menu-title">Сопутствующие</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="menu-wrap">
		<ul>
			<li><a href="">Каталог</a></li>
			<li><a href="">Монтаж</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Доставка</a></li>
			<li><a href="">Контакты</a></li>
			<li><a href="">Для бизнеса</a></li>
		</ul>
	</div>
	<div class="location-wrap">
		<div class="location-city">Москва</div>
		<div class="location-address"><a href="">м. Шоссе Энтузиастов</a></div>
		<div class="location-address"><a href="">м. Шоссе Энтузиастов</a></div>
	</div>
	<div class="about-wrap">
		<a href="" class="btn-about">
			<span class="button-title">О компании</span>
		</a>
	</div>
	<!--submenu-outer-wrap-->
	<div class="submenu-outer-wrap">
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="01">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Ковролин</div>
				<ul>
					<li data-submenu="01-01">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Назначение</span>
						</a>
					</li>
					<li data-submenu="01-02">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цена</span>
						</a>
					</li>
					<li data-submenu="01-03">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Бренд</span>
						</a>
					</li>
					<li data-submenu="01-04">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цвет</span>
						</a>
					</li>
					<li data-submenu="01-05">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Страна</span>
						</a>
					</li>
				</ul>
				<a href="" class="menu-item-all">
						<span class="menu-ico">
							<img src="./img/icons/ico-menu-all.svg" alt="">
						</span>
					<span class="menu-title">Показать все 2452 товаров</span>
				</a>
				<a href="" class="menu-item-all">
						<span class="menu-ico">
							<img src="./img/icons/ico-menu-all.svg" alt="">
						</span>
					<span class="menu-title">Показать все 2452 коллекций</span>
				</a>
			</div>
			<!--submenu-outer-wrap-->
			<div class="submenu-last-outer-wrap" data-submenu-inner="01">
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="01-01">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Назначение</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="01-02">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Цена</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="01-03">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Бренд</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="01-04">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Цвет</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="01-05">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Страна</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
			</div>
			<!--submenu-outer-wrap-->
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="02">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Ковровая плитка</div>
				<ul>
					<li data-submenu="02-01">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Назначение</span>
						</a>
					</li>
					<li data-submenu="02-02">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цена</span>
						</a>
					</li>
					<li data-submenu="02-03">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Бренд</span>
						</a>
					</li>
					<li data-submenu="02-04">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цвет</span>
						</a>
					</li>
					<li data-submenu="02-05">
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Страна</span>
						</a>
					</li>
				</ul>
			</div>
			<!--submenu-outer-wrap-->
			<div class="submenu-last-outer-wrap" data-submenu-inner="02">
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="02-01">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Назначение</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="02-02">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Цена</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="02-03">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Бренд</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="02-04">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Цвет</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
				<!--submenu-wrap-->
				<div class="submenu-last-wrap" data-submenu="02-05">
					<a href="" class="btn-action-ico ico-back"></a>
					<div class="submenu-inner-wrap">
						<div class="submenu-title">Страна</div>
						<ul>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Назначение</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цена</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Бренд</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Цвет</span>
								</a>
							</li>
							<li>
								<a href="" class="menu-item-inner">
									<span class="menu-title-inner">Страна</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--/submenu-wrap-->
			</div>
			<!--submenu-outer-wrap-->
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="03">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Линолеум</div>
				<ul>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Назначение</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цена</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Бренд</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цвет</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Страна</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="04">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Плитка ПВХ</div>
				<ul>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Назначение</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цена</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Бренд</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Цвет</span>
						</a>
					</li>
					<li>
						<a href="" class="menu-item-inner">
							<span class="menu-title-inner">Страна</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="05">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Ламинат</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<li class="submenu-wrap" data-submenu="06">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Паркетная доска</div>
				<ul>
					3333
				</ul>
			</div>
		</li>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="07">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Пробковые покрытия</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="08">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Масивная доска</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="09">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Керамогранит</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="10">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Подвесные потолки</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
		<!--submenu-wrap-->
		<div class="submenu-wrap" data-submenu="11">
			<a href="" class="btn-action-ico ico-back"></a>
			<div class="submenu-inner-wrap">
				<div class="submenu-title">Сопутствующие</div>
				<ul>
					3333
				</ul>
			</div>
		</div>
		<!--/submenu-wrap-->
	</div>
	<!--/submenu-outer-wrap-->
	
	
	
	
</nav>
<!--/nav-->